<div class="top-comment">
  <div class="ribbon6">
    <h3>あなたの読んだ本に対して思ったこと、感じたことを綴ってみよう</h3>
  </div>

  <div class="box16">
    <p>英語の学習に役立った参考書<br>影響を受けた自己啓発本<br>好きな武将が主役の歴史小説<br>なんでもOK！</p>
  </div>

  <div class="new-post">
    <%= link_to("最近読んだ一冊を投稿","/posts/new", {class: "btn-gradient-3d-simple"}) %>
  </div>
</div>

<%= link_to "投稿画面へ", posts_new_path %>
<% @posts.each do |post| %>
<p>
  <%= link_to(post.title, "/posts/#{post.id}")%>
</p>
<%end%>