.new{
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid gray;
}

.posts_top{
    background-color: #323A40;
    text-align: center;
    color: white;
    padding: 6px;
}

.new_container{
    padding: 20px;
}

.midashi{
    padding: 0.25em 0.5em;
    margin-top: 20px;
    color: #494949;
    background: transparent;
    border-left: solid 5px #7db4e6;
}

.form-error{
    color: red;
}