<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MyBooks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto align-items-center">
      <% if @current_user %>
      <li class="nav-item">
        こんにちは、<%= link_to("/users/#{@current_user.id}/show",{class: "current-user"}) do %><%= @current_user.name %><%end%>さん！
      </li>
      <% else %>
      <li class="nav-item">
        <a>こんにちは、ゲストさん！</a>
      </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-item nav-link active ml-4 h6" rel="nofollow" href="/users/index">読書ランキング</a>
      </li>
      <% if @current_user %>
      <li class="nav-item">
        <a class="nav-item nav-link active ml-4 h6" rel="nofollow" href="/posts/new">新規投稿</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link active ml-4 h6" rel="nofollow" data-method="post" href="/logout">ログアウト</a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-item nav-link active ml-4 h6" href="/login">ログイン</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link active ml-4 h6" href="/signup">新規ユーザー登録</a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>